table,
td {
  color: inherit;
  padding: 10px;
}

th {
  border-bottom: 1px solid white;
  cursor: pointer;
}

tbody:before {
  content: '';
  line-height: 10px;
  background-color: white;
}

table {
  border-spacing: 10px;
}
